@using HRMath.Models
@model IEnumerable<AppUser>

<div class="section__content section__content--p30">
    <div class="container-fluid">
        <div class="row m-t-30">
            <div class="col-md-12">
                
                <!-- USER DATA-->
                <div class="user-data m-b-40">
                    <h3 class="title-3 m-b-30">
                        <i class="zmdi zmdi-account-calendar"></i>user data</h3>
                    @* <div class="filters m-b-45">
                        <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                            <select class="js-select2" name="property">
                                <option selected="selected">All Properties</option>
                                <option value="">Products</option>
                                <option value="">Services</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                            <select class="js-select2 au-select-dark" name="time">
                                <option selected="selected">All Time</option>
                                <option value="">By Month</option>
                                <option value="">By Day</option>
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div> *@
                    <div class="table-responsive table-data">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>usuarios</td>
                                    <td>roles</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="table-data__info">
                                                <h6>@user.UserName</h6>
                                                <span>
                                                    <a href="#">@user.Email</a>
                                                </span>
                                            </div>
                                        </td>
                                        <td identity-user="@user.Id"></td>
                                        <td>
                                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                                @* <a class="btn-sm btn-info" asp-action="User" asp-route-id="@user.Id">Info</a> *@
                                                <a class="btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                                                <button type="submit" class="btn-sm btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                }                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END USER DATA-->
            </div>
        </div>
    </div>
 </div>
 